
.activeTab {
  background-color: #003764;
  color: #6ca6d9;
  font-weight: bold;
  font-size: 20px;
  border: none;
}


.links {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-evenly;
}

.head-btn {
  color: white;
  background-color: #003764;
  border: none;
  font-weight: bold;
  font-size: 20px;
}

.foot {
 
  background-color: #6ca6d9;
}

.foot2 {
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  margin-top: 25px;
}

form {
  text-align: center;
  margin-top: 30px;
 
}



.name-input {
  width: 25%;
  margin-bottom: 40px;
}

.form-btn {
  margin-bottom: 8px;
  background-color: #003764;
  color: white;
  border-radius: 5px;
}




